* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none; }

.body1, .body2 {
  background-image: url(../imagenes/fondo2.jpg);
  background-size: cover;
  height: 100vh;
  font-family: 'Poiret One', cursive; }

.nav1 .icono {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  border: solid 2px;
  margin-bottom: 10px;
  margin-right: 10px; }

.nav1 .titulo {
  font-size: 20px; }

.links {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-right: 5px; }

.links li a {
  margin: 4px;
  color: black;
  padding: 10px 15px; }

.nav1 li a:hover {
  color: black;
  border-radius: 15px;
  background-color: lightgray;
  display: inline-block; }

.nav1 li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  float: left;
  background-color: white; }

.nav1 li ul li {
  float: left; }

.nav1 li:hover > ul {
  display: block; }

.frase {
  display: none; }

.autor {
  display: none; }

.body2 {
  background-image: radial-gradient(grey, white); }

.redes {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start; }
  .redes .boton {
    background-color: lightgray;
    border: 1px black solid;
    color: black;
    font-weight: bolder; }
  .redes h5 {
    font-size: 15px; }
  .redes p {
    font-size: 13px; }

.card {
  margin: 10px; }

.galeria {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-around; }
  .galeria img {
    width: 300px;
    height: 200px; }
  .galeria li {
    margin: 5px; }

.popup {
  display: none; }

.popup:target {
  display: block;
  position: fixed;
  background: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .popup:target h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 15px 0px; }
  .popup:target .imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .popup:target .imagen a {
      color: white;
      font-size: 40px;
      text-decoration: none;
      margin: 0 10px; }
    .popup:target .imagen img {
      width: 500px;
      height: 100%;
      max-width: 100%;
      border: 7px solid white;
      box-sizing: border-box; }
  .popup:target .imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2; }
  .popup:target .cerrar {
    display: block;
    background: white;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    border-radius: 50%;
    line-height: 25px; }

footer {
  background-color: black;
  color: white;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  font-size: 11px; }

@media only screen and (min-width: 1024px) {
  .links {
    display: flex;
    flex-direction: row;
    padding-top: 0x;
    justify-content: center;
    align-items: center;
    padding-right: 0px; }
  .nav1 .icono {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    border: solid 2px;
    margin-bottom: 10px;
    margin-right: 10px; }
  .nav1 .titulo {
    font-size: 20px; }
  .links li a {
    margin: 4px;
    color: black;
    padding: 10px 15px; }
  .nav1 li a:hover {
    color: black;
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 0px; }
  .nav1 li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    float: left;
    background-color: white; }
  .nav1 li ul li {
    float: left; }
  .nav1 li:hover > ul {
    display: block; }
  .frase {
    color: white;
    text-align: right;
    padding-top: 15%;
    padding-left: 50%;
    padding-right: 20%;
    display: block; }
  .autor {
    font-size: 15px;
    display: block; }
  .redes h5 {
    font-size: 20px; }
  .redes p {
    font-size: 15px; }
  .footer {
    font-size: 10px;
    background-color: black; } }

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .frase {
    display: none; }
  .autor {
    display: none; } }

.nav1 .icono {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  border: solid 2px;
  margin-bottom: 10px;
  margin-right: 10px; }

.nav1 .titulo {
  font-size: 20px; }

.nav1 .redes {
  justify-content: center; }
