* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.body1 {
  background-image: url(../imagenes/fondo2.jpg);
  background-size: cover;
  height: 100vh;
  font-family: 'Poiret One', cursive;
  
}

.nav1 {
  .icono {
      width: 35px;
      height: 35px;
      border-radius: 15px;
      border: solid 2px;
      margin-bottom: 10px;
      margin-right: 10px;

  }
  .titulo {
      font-size: 20px;
      
      
  }
}

.links {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-right: 5px; }

.links li a {
  margin: 4px;
  color: black;
  padding: 10px 15px; }

.nav1 li a:hover {
  color: black;
  border-radius: 15px;
  background-color: lightgray;
  display: inline-block;
  
   }

.nav1 li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  float: left; 
  background-color: white;}

.nav1 li ul li {
  float: left;
   }

.nav1 li:hover > ul {
  display: block;
   }

.frase {
    display: none;
}
.autor {
    display: none;
}


.body2 {
  @extend .body1;
  background-image: radial-gradient(grey, white);
}

.redes {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  
  
  .boton {
    background-color: lightgray;
    border: 1px black solid;
    color: black;
    font-weight: bolder;
    display: inline;
    }

    .behanceTitulo {
      margin-top: 25px;
      margin-bottom: 15px;
    }
    .behanceTexto {
      margin-top: 15px;
      margin-bottom: 60px;
    }

    .linkedinTexto {
      margin-bottom: 62px;

    }
    
}

.mailTexto {
  @extend .behanceTexto
}






footer {
  background-color: black;
  color: white;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  font-size: 11px; }

  

@media only screen and (min-width: 1024px) {

.links {
  display: flex;
  flex-direction: row;
  padding-top: 0x;
  justify-content: center;
  align-items: center;
  padding-right: 0px; 
  }
  .nav1 {
    .icono {
        width: 35px;
        height: 35px;
        border-radius: 15px;
        border: solid 2px;
        margin-bottom: 10px;
        margin-right: 10px;

    }
    .titulo {
        font-size: 20px;
        
        
    }
}

<<<<<<< HEAD
=======
.links {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-right: 5px; }
  
  .links li a {
    margin: 4px;
    color: black;
    padding: 10px 15px; }
  
  .nav1 li a:hover {
    color: black;
    border-radius: 15px;
    background-color: lightgray;
    display: inline-block;
    
     }
  
  .nav1 li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    float: left; 
    background-color: white;}
  
  .nav1 li ul li {
    float: left;
     }
  
  .nav1 li:hover > ul {
    display: block;
     }

  .frase {
      display: none;
  }
  .autor {
      display: none;
  }

  .body2 {
    background-image: none;
  }








  footer {
    background-color: black;
    color: white;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    font-size: 11px; }
>>>>>>> 0ddfb6554846015117e9ec8330e11852d3265333


.links li a {
  margin: 4px;
  color: black;
  padding: 10px 15px; }

<<<<<<< HEAD
.nav1 li a:hover {
  color: black;
  border-radius: 10px;
  background-color: lightgray;
  margin-left: 0px;
   }

.nav1 li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  float: left; 
  background-color: white;
  }
=======
  .links {
    display: flex;
    flex-direction: row;
    padding-top: 0x;
    justify-content: center;
    align-items: center;
    padding-right: 0px; 
    }
    .nav1 {
      .icono {
          width: 35px;
          height: 35px;
          border-radius: 15px;
          border: solid 2px;
          margin-bottom: 10px;
          margin-right: 10px;
  
      }
      .titulo {
          font-size: 40px;
          
          
      }
  }
  
>>>>>>> 0ddfb6554846015117e9ec8330e11852d3265333

.nav1 li ul li {
  float: left;
   }

.nav1 li:hover > ul {
  display: block;
   }



.frase {
  color: white;
  text-align: right;
  padding-top: 15%;
  padding-left: 50%;
  padding-right: 20%;
  display: block;
  
  }

.autor {
  font-size: 15px;
  display: block;
  
  }

.footer {
    font-size: 10px;
}
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
.frase {
      display: none;
  }
.autor {
      display: none;
  }
}

.nav1 {
.icono {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    border: solid 2px;
    margin-bottom: 10px;
    margin-right: 10px;

<<<<<<< HEAD
}
.titulo {
    font-size: 20px;
    
=======
  .frase {
    color: white;
    text-align: right;
    padding-top: 15%;
    padding-left: 50%;
    padding-right: 20%;
    display: block;
    
    }

  .autor {
    font-size: 15px;
    display: block;
>>>>>>> 0ddfb6554846015117e9ec8330e11852d3265333
    
}
<<<<<<< HEAD
=======
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .frase {
        display: none;
    }
  .autor {
        display: none;
    }
}

.nav1 {
  .icono {
      width: 35px;
      height: 35px;
      border-radius: 15px;
      border: solid 2px;
      margin-bottom: 10px;
      margin-right: 10px;

  }
  .titulo {
      font-size: 20px;
      
      
  }
>>>>>>> 0ddfb6554846015117e9ec8330e11852d3265333
}